<div *ngIf="loading | async" class="progress-container">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
<mat-card *ngIf="!(loading | async)">
  <mat-card-title *ngIf="(user|async)">
    <ng-container i18n>Edit user </ng-container>:
    <b>{{ (user|async)?.name }}</b>
  </mat-card-title>
  <mat-card-title *ngIf="!(user|async)" i18n>
    New user
  </mat-card-title>
  <mat-card-content>
    <form [formGroup]="userForm" novalidate>
      <div>
        <mat-form-field
            [dividerColor]="!userForm.get('username').pristine && userForm.get('username').invalid ? 'accent' : null">
          <input matInput i18n-placeholder placeholder="Username"
              formControlName="username">
          <mat-hint *ngIf="userForm.get('username').errors?.username_not_unique" i18n>
            Username already in use
          </mat-hint>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field
            [dividerColor]="!userForm.get('email').pristine && userForm.get('email').invalid ? 'accent' : null">
          <input matInput i18n-placeholder placeholder="Email"
              formControlName="email">
          <mat-hint *ngIf="userForm.get('email').errors?.email_not_unique" i18n>
            Email address already in use
          </mat-hint>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field
            [dividerColor]="!userForm.get('firstName').pristine && userForm.get('firstName').invalid ? 'accent' : null">
          <input matInput i18n-placeholder placeholder="First name"
              formControlName="firstName">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field
            [dividerColor]="!userForm.get('lastName').pristine && userForm.get('lastName').invalid ? 'accent' : null">
          <input matInput i18n-placeholder placeholder="Last name"
              formControlName="lastName">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field
          [dividerColor]="!userForm.get('password').pristine && userForm.get('password').invalid ? 'accent' : null">
          <input matInput i18n-placeholder placeholder="Password"
              type="password"
              formControlName="password">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field
          [dividerColor]="!userForm.get('confirmPassword').pristine && userForm.get('confirmPassword').invalid ? 'accent' : null">
          <input matInput i18n-placeholder placeholder="Password confirm"
              type="password"
              formControlName="confirmPassword">
          <mat-hint *ngIf="userForm.errors?.password_match" i18n>
            Passwords do not match
          </mat-hint>
        </mat-form-field>
      </div>
      <div>
        <mat-slide-toggle i18n
            formControlName="isStaff">Admin</mat-slide-toggle>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="saveUser()" mat-raised-button
        [disabled]="userForm.pristine || !userForm.valid" color="primary" i18n>
      Save
    </button>
    <button [routerLink]="['../']" mat-raised-button color="accent" i18n>
      Cancel
    </button>
  </mat-card-actions>
</mat-card>
