<div *ngIf="loading | async" class="progress-container">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
<ng-template [ngIf]="!(loading | async)">
  <button [routerLink]="['new']" mat-fab>
    <mat-icon i18n-matTooltip matTooltip="New">add</mat-icon>
  </button>
  <mat-card i18n *ngIf="(users | async)?.length == 0">
    No user found
  </mat-card>
  <mat-list *ngIf="(users | async)?.length > 0">
    <mat-list-item *ngFor="let user of users | async">
      <div fxFlex fxLayout="row" fxLayoutAlign="start center">
        <div fxFlex="50%">{{ user.username }}</div>
        <div fxFlex="50%">{{ user.email }}</div>
        <div class="actions">
          <button [routerLink]="[user.id]" mat-mini-fab i18n-matTooltip matTooltip="Edit">
            <mat-icon>mode_edit</mat-icon>
          </button>
          <button  (click)="delete(user)"
              mat-mini-fab color="warn" i18n-matTooltip matTooltip="Delete">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </mat-list-item>
  </mat-list>
</ng-template>
