<div *ngIf="loading | async" class="progress-container">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
<ng-template [ngIf]="!(loading | async)">
  <button [routerLink]="['new', 'edit']" mat-fab>
    <mat-icon i18n-matTooltip matTooltip="New">add</mat-icon>
  </button>
  <mat-card i18n *ngIf="(arcgisSources | async)?.length == 0">
    No ArcGIS source found
  </mat-card>
  <mat-list *ngIf="(arcgisSources | async)?.length > 0">
    <mat-list-item *ngFor="let arcgisSource of arcgisSources | async">
      <div fxFlex fxLayout="row" fxLayoutAlign="start center">
        <div fxFlex>{{ arcgisSource.name }}</div>
        <div>
          <button [routerLink]="[arcgisSource.id, 'layers']"
              mat-mini-fab i18n-matTooltip matTooltip="Available layers">
            <mat-icon>layers</mat-icon>
          </button>
          <button [routerLink]="[arcgisSource.id, 'edit']" mat-mini-fab i18n-matTooltip matTooltip="Edit">
            <mat-icon>mode_edit</mat-icon>
          </button>
          <button mat-mini-fab color="warn" i18n-matTooltip matTooltip="Delete"
              (click)="delete(arcgisSource)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </mat-list-item>
  </mat-list>
</ng-template>
