@import '../../common/_helpers.scss';

:host {
  @include admin-home();
  @include admin-form();
  @include progress-container();

  .map-container {
    width: 100%;
    height: 300px;

    margin-bottom: 2em;
  }
}
