<div *ngIf="loading | async" class="progress-container">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
<ng-template [ngIf]="!(loading | async) && arcgisSource && (layers | async)">
  <mat-card class="main">
    <mat-card-title>
      <ng-container i18n>ArcGIS Source</ng-container>:
      <b>{{ arcgisSource?.name }}</b>
    </mat-card-title>
    <mat-card-content>
      <ng-template [ngIf]="(layers | async)?.length == 0">
        <ng-container i18n>No layers available</ng-container>
      </ng-template>
      <ng-template [ngIf]="(layers | async)?.length > 0">
        <mat-list>
          <mat-list-item *ngFor="let layer of layers|async">
            <div fxFlex fxLayout="row" fxLayoutAlign="start center">
              <div fxFlex>
                <yago-layer-icon [layer]="layer"></yago-layer-icon>
                {{ layer.name }}
              </div>
              <div>
                <button
                    (click)="showLayerPreview(layer)"
                    mat-mini-fab i18n-matTooltip matTooltip="Preview">
                  <mat-icon>map</mat-icon>
                </button>
                <button
                    [routerLink]="getImportLink(layer)"
                    mat-mini-fab i18n-matTooltip matTooltip="Import">
                  <mat-icon>import_export</mat-icon>
                </button>
              </div>
            </div>
          </mat-list-item>
        </mat-list>
      </ng-template>
    </mat-card-content>
  </mat-card>
</ng-template>
