@charset 'UTF-8';

@font-face {
  font-family: 'yago';
  src: url('./yago.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^='yago-icons']::before,
[class*=' yago-icons']::before {
  font-family: 'yago' !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 24px;
}

.yago-icons.linecap-butt::before {
  content: '\e000';
}
.yago-icons.linecap-round::before {
  content: '\e001';
}
.yago-icons.linecap-square::before {
  content: '\e002';
}
.yago-icons.linejoin-bevel::before {
  content: '\e003';
}
.yago-icons.linejoin-round::before {
  content: '\e004';
}
.yago-icons.linejoin-miter::before {
  content: '\e005';
}
.yago-icons.circle::before {
  content: '\e006';
}
.yago-icons.geostats::before {
  content: '\e007';
}
.yago-icons.ruler::before {
  content: '\e008';
}
.yago-icons.draw-feature::before {
  content: '\e009';
}
.yago-icons.select-feature::before {
  content: '\e00a';
}
.yago-icons.select-centroid::before {
  content: '\e00b';
}
.yago-icons.north::before {
  content: '\e00c';
}
