.mat-toolbar.mat-primary {
  background-color: #d1c1c1 !important;
}

.yago-content .mat-toolbar.mat-primary img {
  height: 52px;
  margin: 0 1em;
}

.homebg {
  background-image: url('/assets/imgs/rimacbg.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: auto 80%;
  position: absolute;
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
  overflow-y: auto;
}
