<div class="homebg">
  <p>
    Cooperazione Internazionale (COOPI), CARE Peru y el Instituto Francés de Investigación
    para el Desarrollo (IRD), financiado por USAID/OFDA y en colaboración constante
    con la Municipalidad Distrital del Rímac se encuentran implementando el proyecto RIMAC-DRR
    (<em>RIMAC – DRR “Reinforcing Innovative Mechanisms for Arising Capacities in Disaster Risk
    Reduction in Rímac</em>) que tiene como objetivo principal la gestión de información para
    una adecuada gestión de riesgos de desastres en el distrito del Rímac en la ciudad de Lima]
    (Perú) mediante mecanismos que aumenten la eficiencia de la gestión urbana a través del
    conocimiento del territorio y el sustento técnico en la orientación de políticas
    públicas locales.
  </p>
  <p>
    En pro del logro de dichos objetivos, el proyecto se dividió en 3 bloques temporales,
    siendo el primero de estos la elaboración de una base de datos georreferenciada que
    brinde información de diversos aspectos del distrito, la misma que está constituida
    por 4 ejes temáticos: Población y espacio urbano, redes y servicios urbanos, riesgos
    y seguridad; y organizaciones sociales.
  </p>
  <p>
    Como parte del cumplimiento de la difusión de esta base de datos geoespacial generada,
    se desarrolló e implementó el presente visor cartográfico gracias a la colaboración
    del Centro de Estimación, Prevención y Reducción del Riesgo de Desastres (CENEPRED)
    brindando su asesoramiento técnico y la infraestructura tecnológica con el objetivo
    de masificar el uso de los datos con los que cuenta la base por parte de los funcionarios
    de la Municipalidad Distrital del Rímac como principales beneficiarios, además del público
    interesado en la información sobre dicho distrito.
  </p>
  <p>
    En este contexto, el visor permite realizar consultas de información georreferenciada
    relacionada a los ejes temáticos descritos anteriormente de forma sencilla,
    rápida y confiable.
  </p>
</div>
