<div *ngIf="loading | async" class="progress-container">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
<mat-card *ngIf="!(loading | async)">
  <mat-card-title *ngIf="(layer|async)">
    <ng-container i18n>Edit layer </ng-container>:
    <b>{{ (layer|async)?.name }}</b>
  </mat-card-title>
  <mat-card-title *ngIf="!(layer|async)" i18n>
    New layer
  </mat-card-title>
  <mat-card-content>
    <form [formGroup]="layerForm" novalidate>
      <div>
        <mat-form-field
            [dividerColor]="!layerForm.get('name').pristine && layerForm.get('name').invalid ? 'accent' : null">
          <input matInput i18n-placeholder placeholder="Name"
              formControlName="name">
          <mat-hint i18n align="end">Only letters, numbers, hyphens and dashes (eg. layer_1)</mat-hint>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field
            [dividerColor]="!layerForm.get('label').pristine && layerForm.get('label').invalid ? 'accent' : null">
          <input matInput i18n-placeholder placeholder="Label"
              formControlName="label">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-select i18n-placeholder placeholder="Theme"
              formControlName="theme">
            <mat-option *ngFor="let theme of themes|async" [value]="theme.id">{{ theme.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="metadata">
        <h3 i18n>Metadata</h3>
        <ng-container *ngIf="metadataLabel">
          <span i18n>Current metadata</span>
          <span>{{ metadataLabel }}</span>
        </ng-container>
        <span *ngIf="!metadataLabel" i18n>No metadata</span>
        <button class="narrow" mat-button i18n (click)="metadataInput.click()">Select</button>
        <button (click)="deleteMetadata()"
            [disabled]="!metadataLabel"
            class="narrow" mat-button i18n>Delete</button>
        <input #metadataInput type="file" (change)="setMetadata(metadataInput.files)">
      </div>
      <div class="data-labels" formGroupName="dataLabels">
        <h3 i18n>Table labels</h3>
        <div class="table-label-row" *ngFor="let dataName of dataNames|async">
          <div class="name">{{ dataName.display }}</div>
          <div class="label">
            <mat-form-field>
              <input matInput i18n-placeholder placeholder="Label"
                  [formControlName]="dataName.name">
            </mat-form-field>
          </div>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="saveLayer()" mat-raised-button
        [disabled]="!metadataChange && (layerForm.get('dataLabels').pristine || !layerForm.get('dataLabels').valid)
          && (layerForm.pristine || !layerForm.valid)" color="primary" i18n>
      Save
    </button>
    <button [routerLink]="['../']" mat-raised-button color="accent" i18n>
      Cancel
    </button>
  </mat-card-actions>
</mat-card>
