<div *ngIf="loading | async" class="progress-container">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
<ng-template [ngIf]="!(loading | async)">
  <button [routerLink]="['new']" mat-fab>
    <mat-icon i18n-matTooltip matTooltip="New">add</mat-icon>
  </button>
  <mat-card i18n *ngIf="(layers | async)?.length == 0">
    No layer found
  </mat-card>
  <mat-list *ngIf="(layers | async)?.length > 0">
    <mat-list-item *ngFor="let layer of layers | async">
      <div fxFlex fxLayout="row" fxLayoutAlign="start center">
        <div fxFlex="50%">
          <yago-layer-icon [layer]="layer"></yago-layer-icon>
          {{ layer.label }}
        </div>
        <div fxFlex="50%">{{ layer.themeName }}</div>
        <div class="actions">
          <a [href]="getShapefileUrl(layer.id)" target="_blank" mat-mini-fab i18n-matTooltip matTooltip="Download Shapefile">
            <mat-icon>file_download</mat-icon>
          </a>
          <button [routerLink]="[layer.id]" mat-mini-fab i18n-matTooltip matTooltip="Edit">
            <mat-icon>mode_edit</mat-icon>
          </button>
          <button  (click)="delete(layer)"
              mat-mini-fab color="warn" i18n-matTooltip matTooltip="Delete">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </mat-list-item>
  </mat-list>
</ng-template>
