@import '../../common/_helpers.scss';

:host {
  @include admin-home();
  @include admin-form();
  @include progress-container();

  form > div {
    > input[type=file] {
      position: absolute;
      left: -1000px;
      opacity: 0;
    }

    > [mat-button].narrow {
      width: auto;
      margin-right: 0.5em;
      margin-left: 0.5em;
    }

    &.data-labels {
      flex-direction: column;
    }

    &.metadata {
      display: block !important;
    }

    .table-label-row {
      display: flex;
      align-items: baseline;

      .name {
        flex: 0 0 20%;
      }
      .label {
        flex: 1 1 auto;
      }
    }
  }
}
