<div *ngIf="loading | async" class="progress-container">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
<ng-template [ngIf]="!(loading | async)">
  <button [routerLink]="['new']" mat-fab>
    <mat-icon i18n-matTooltip matTooltip="New">add</mat-icon>
  </button>
  <mat-card i18n *ngIf="(items | async)?.length == 0">
    No item found
  </mat-card>
  <mat-list *ngIf="(items | async)?.length > 0">
    <mat-list-item *ngFor="let item of items | async">
      <div fxFlex fxLayout="row" fxLayoutAlign="start center">
        <div fxFlex="50%">
          <ng-container [ngSwitch]="item.itemType">
            <mat-icon *ngSwitchCase="'image'">image</mat-icon>
            <mat-icon *ngSwitchCase="'document'">file_download</mat-icon>
            <mat-icon *ngSwitchCase="'archive'">archive</mat-icon>
          </ng-container>
          {{ item.name }}
        </div>
        <div fxFlex="50%">{{ item.themeName }}</div>
        <div class="actions">
          <a [href]="item.attachment" mat-mini-fab i18n-matTooltip matTooltip="Download"
              [disabled]="!item.attachment" target="_blank">
            <mat-icon>file_download</mat-icon>
          </a>
          <button [routerLink]="[item.id]" mat-mini-fab i18n-matTooltip matTooltip="Edit">
            <mat-icon>mode_edit</mat-icon>
          </button>
          <button  (click)="delete(item)"
              mat-mini-fab color="warn" i18n-matTooltip matTooltip="Delete">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </mat-list-item>
  </mat-list>
</ng-template>
