<div *ngIf="loading | async" class="progress-container">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
<mat-card *ngIf="!(loading | async)">
  <mat-card-title *ngIf="(item|async)">
    <ng-container i18n>Edit item </ng-container>:
    <b>{{ (item|async)?.name }}</b>
  </mat-card-title>
  <mat-card-title *ngIf="!(item|async)" i18n>
    New item
  </mat-card-title>
  <mat-card-content>
    <form [formGroup]="itemForm" novalidate>
      <div>
        <mat-form-field
            [dividerColor]="!itemForm.get('name').pristine && itemForm.get('name').invalid ? 'accent' : null">
          <input matInput i18n-placeholder placeholder="Name"
              formControlName="name">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field
            [dividerColor]="!itemForm.get('description').pristine && itemForm.get('description').invalid ? 'accent' : null">
          <input matInput i18n-placeholder placeholder="Description"
              formControlName="description">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-select i18n-placeholder placeholder="Theme"
              formControlName="theme">
            <mat-option *ngFor="let theme of themes|async" [value]="theme.id">{{ theme.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-select i18n-placeholder placeholder="Type"
              formControlName="itemType">
            <mat-option value="image" i18n>Image</mat-option>
            <mat-option value="document" i18n>Document</mat-option>
            <mat-option value="archive" i18n>Archive</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <h3 i18n>Attachment</h3>
        <ng-container *ngIf="attachmentLabel">
          <span i18n>Current attachment</span>
          <span>{{ attachmentLabel }}</span>
        </ng-container>
        <span *ngIf="!attachmentLabel" i18n>No attachment</span>
        <button class="narrow" mat-button i18n (click)="attachmentInput.click()">Select</button>
        <button (click)="deleteAttachment()"
            [disabled]="!attachmentLabel"
            class="narrow" mat-button i18n>Delete</button>
        <input #attachmentInput type="file" (change)="setAttachment(attachmentInput.files)">
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="saveItem()" mat-raised-button
        [disabled]="!attachmentChange && (itemForm.pristine || !itemForm.valid)" color="primary" i18n>
      Save
    </button>
    <button [routerLink]="['../']" mat-raised-button color="accent" i18n>
      Cancel
    </button>
  </mat-card-actions>
</mat-card>
