@import '../../common/_helpers.scss';

:host {
  @include admin-home();
  @include admin-form();
  @include progress-container();

  form > div {
    > input[type=file] {
      position: absolute;
      left: -1000px;
      opacity: 0;
    }

    > [mat-button].narrow {
      width: auto;
      margin-right: 0.5em;
      margin-left: 0.5em;
    }
  }
}
