<div *ngIf="loading | async" class="progress-container">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
<mat-card *ngIf="!(loading | async)">
  <mat-card-title>
    <ng-container i18n>WMS Source</ng-container>:
    <b>{{ wmsSource?.name }}</b> -
    <ng-container i18n>Import layer</ng-container>
    <b>{{ (layer|async)?.name }}</b>
    <ng-container i18n>from workspace</ng-container>
    <b>{{ (layer|async)?.workspace }}</b>
  </mat-card-title>
  <mat-card-content>
    <div class="map-container">
      <yago-map *ngIf="map|async as curMap"
          [hideViewControl]="true"
          [showLayersControl]="false"
          [limits]="boundingBox|async"
          [map]="curMap"></yago-map>
    </div>
    <form *ngIf="importForm" [formGroup]="importForm" novalidate>
      <div>
        <mat-form-field
            [dividerColor]="!importForm.get('name').pristine && importForm.get('name').invalid ? 'accent' : null">
          <input matInput i18n-placeholder placeholder="Name"
              formControlName="name">
          <mat-hint i18n align="end">Only letters, numbers, hyphens and dashes (eg. layer_1)</mat-hint>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field
            [dividerColor]="!importForm.get('label').pristine && importForm.get('label').invalid ? 'accent' : null">
          <input matInput i18n-placeholder placeholder="Label"
              formControlName="label">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-select i18n-placeholder placeholder="Theme"
              formControlName="theme">
            <mat-option *ngFor="let theme of themes|async" [value]="theme.id">{{ theme.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="importLayer()" mat-raised-button
        [disabled]="importForm.pristine || !importForm.valid" color="primary" i18n>
      Import
    </button>
    <button [routerLink]="['../']" mat-raised-button color="accent" i18n>
      Cancel
    </button>
  </mat-card-actions>
</mat-card>
