<div *ngIf="loading|async" class="progress-container">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
<mat-card *ngIf="!(loading|async)">
  <mat-card-title *ngIf="(source|async)">
    <ng-container i18n>Edit WMS Source </ng-container>:
    <b>{{ (source|async)?.name }}</b>
  </mat-card-title>
  <mat-card-title *ngIf="!(source|async)" i18n>
    New WMS Source
  </mat-card-title>
  <mat-card-content>
    <form [formGroup]="sourceForm" novalidate>
      <div>
        <mat-form-field
            [dividerColor]="!sourceForm.get('name').pristine && sourceForm.get('name').invalid ? 'accent' : null">
          <input matInput i18n-placeholder placeholder="Name"
              formControlName="name"
              [value]="(source|async)?.name">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field
            [dividerColor]="!sourceForm.get('serverUrl').pristine && sourceForm.get('serverUrl').invalid ? 'accent' : null">
          <input matInput i18n-placeholder placeholder="Server URL"
              formControlName="serverUrl"
              [value]="(source|async)?.serverUrl">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field
            [dividerColor]="!sourceForm.get('workspace').pristine && sourceForm.get('workspace').invalid ? 'accent' : null">
          <input matInput i18n-placeholder placeholder="Workspace"
              formControlName="workspace"
              [value]="(source|async)?.workspace">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field
            [dividerColor]="!sourceForm.get('username').pristine && sourceForm.get('username').invalid ? 'accent' : null">
          <input matInput i18n-placeholder placeholder="Username"
              formControlName="username"
              [value]="(source|async)?.username">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field
            [dividerColor]="!sourceForm.get('password').pristine && sourceForm.get('password').invalid ? 'accent' : null">
          <input matInput i18n-placeholder placeholder="Password"
              formControlName="password"
              [value]="(source|async)?.password">
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="saveSource()" mat-raised-button
        [disabled]="sourceForm.pristine || !sourceForm.valid" color="primary" i18n>
      Save
    </button>
    <button [routerLink]="['../../']" mat-raised-button color="accent" i18n>
      Cancel
    </button>
  </mat-card-actions>
</mat-card>
