<mat-card>
  <mat-card-content>
    <yago-color-picker></yago-color-picker>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button i18n (click)="selectColor()">Select</button>
    <button mat-button i18n (click)="closeMe()">Close</button>
  </mat-card-actions>
</mat-card>
