<mat-tab-group (selectChange)="updateCurrentModel($event)">
  <mat-tab *ngFor="let colorModel of colorModels" label="{{ colorModel }}">
    <div [style.color]="inverseColor.string()" [style.background-color]="color.string()"
        class="color-preview">
      {{ getColorString(colorModel) }}
    </div>
  </mat-tab>
</mat-tab-group>
<mat-tab-group (selectChange)="onPanelSelectChange($event)">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-label">gradient</mat-icon>
    </ng-template>
    <yago-gradient-panel (colorSelected)="changeColor($event)" [color]="color"></yago-gradient-panel>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-label">tune</mat-icon>
    </ng-template>
    <yago-values-panel (colorSelected)="changeColor($event)" [color]="color" [colorModel]="colorModel"></yago-values-panel>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-label">view_module</mat-icon>
    </ng-template>
    <yago-palette-panel (colorSelected)="changeColor($event)"></yago-palette-panel>
  </mat-tab>
  <mat-tab *ngIf="false">
    <ng-template mat-tab-label>
      <mat-icon class="tab-label">view_headline</mat-icon>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-label">history</mat-icon>
    </ng-template>
    <yago-history-panel [history]="history" (colorSelected)="changeColor($event)"></yago-history-panel>
  </mat-tab>
</mat-tab-group>
