<ng-container [ngSwitch]="viewMode">
  <mat-form-field *ngSwitchCase="'input'">
    <input matInput
      [disabled]="disabled"
      [style.background-color]="colorString"
      [value]="outputType == 'string' ? value || '' : value.string()">
  </mat-form-field>
  <button mat-button *ngSwitchCase="'button'"
    [disabled]="disabled"
    [style.background-color]="colorString">
    <div #contentWrapper><ng-content></ng-content></div>
    <mat-icon *ngIf="contentWrapper.children.length == 0">color_lens</mat-icon>
  </button>
</ng-container>
