<div #spectrumContainer (click)="changeColor('spectrum', $event)" class="spectrum-container">
  <div [style.left]="spectrumXPosition" [style.top]="spectrumYPosition" class="round-marker"></div>
  <canvas #spectrumCanvas class="spectrum"></canvas>
</div>
<div #hueContainer (click)="changeColor('hue', $event)" class="hue-container">
  <div [style.top]="huePosition" class="rect-marker"></div>
  <canvas #hueCanvas class="hue"></canvas>
</div>
<div #alphaContainer (click)="changeColor('alpha', $event)" class="alpha-container">
  <div [style.top]="alphaPosition" class="rect-marker"></div>
  <canvas  #alphaCanvas class="alpha"></canvas>
</div>
