:host {
  height: 256px;
  display: flex;

  > div {
    cursor: crosshair;
    position: relative;

    > canvas {
      width: 100%;
      height: 256px;
    }

    .round-marker {
      position: absolute;
      box-sizing: border-box;
      width: 12px;
      height: 12px;
      margin-left: -6px;
      margin-top: -6px;
      border-radius: 8px;
      border: solid 3px white;
      z-index: 10;
    }

    .rect-marker {
      position: absolute;
      right: 0;
      left: 0;
      border-top: solid 3px white;
      border-bottom: solid 3px white;
      z-index: 10;
      padding: 1px 0;
      margin-top: -4px;
    }
  }

  .spectrum-container {
    flex: 1 0 auto;
  }

  .hue-container {
    width: 3em;
    margin-left: 0.5em;
  }

  .alpha-container {
    width: 3em;
    margin-left: 0.5em;

    background-size: 8px 8px;
    background-position: 0 0, 4px 4px;
    background-image: linear-gradient(45deg, #ddd 25%, transparent 25%, transparent 75%, #ddd 75%, #ddd),
					  linear-gradient(45deg, #ddd 25%, transparent 25%, transparent 75%, #ddd 75%, #ddd);
  }
}
