<div class="slider-row" *ngFor="let slider of sliders">
  <div class="label">{{ slider.label }}</div>
  <mat-slider [min]="slider.minValue" [max]="slider.maxValue" [step]="slider.step"
    [(ngModel)]="slider.value" (change)="onChangeSliderValue(slider)"></mat-slider>
  <div *ngIf="slider.valueTx == null" class="value">{{ slider.value|number:'1.0-2' }}</div>
  <div *ngIf="slider.valueTx != null" class="value">{{ slider.valueTx(slider.value) }}</div>
</div>
