<mat-sidenav-container>
  <mat-sidenav #sidenav
      mode="over" align="start">
    <button (click)="closeSidenav()" mat-button [routerLink]="['/mapBuilder']">
      <mat-icon>map</mat-icon>
      <div i18n>Map</div>
    </button>
    <button (click)="closeSidenav()" mat-button [routerLink]="['/gallery']">
      <mat-icon>photo_library</mat-icon>
      <div i18n>Gallery</div>
    </button>
    <button *ngIf="(user|async)?.isStaff" (click)="closeSidenav()" mat-button [routerLink]="['/admin']">
      <mat-icon>settings</mat-icon>
      <div i18n>Settings</div>
    </button>
  </mat-sidenav>
  <div class="yago-content">
    <mat-toolbar color="primary">
      <a class="sidenav-toggle" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </a>
      <ng-container i18n>Yago</ng-container>
      <span fxFlex></span>
      <button *ngIf="!(loggedIn | async)" (click)="login()" mat-button>
        <mat-icon>exit_to_app</mat-icon>
        <span i18n>Sign in</span>
      </button>
      <button (click)="logout()" *ngIf="loggedIn | async" mat-button>
        <mat-icon>account_circle</mat-icon>
        <span i18n>Sign out</span>
      </button>
    </mat-toolbar>
    <div class="content-wrapper">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-sidenav-container>
