@import '../common/_helpers.scss';


:host {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: stretch;

  mat-sidenav-container {
    flex: 1 0 auto;

    mat-sidenav {
      button[mat-button] {
        display: block;
      }
    }

    .yago-content {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      align-items: stretch;

      .content-wrapper {
        flex: 1 0 auto;
        padding: $mainContainerPadding;
        overflow-y: auto;
        position: relative;
      }
    }

    mat-toolbar {
      a.sidenav-toggle {
        margin-right: 0.5em;

        mat-icon {
          vertical-align: middle;
        }
      }
    }
  }
}
