<ng-template [ngIf]="(transform|async) && (layer|async) && (form|async)">
  <h3 i18n>{{ (transform|async)?.getName() }}</h3>
  <form novalidate [formGroup]="form|async">
    <ng-template ngFor let-option [ngForOf]="options|async">
      <ng-container [ngSwitch]="option.type">
        <div *ngSwitchCase="'slider'">
          {{ translate(option.label) }}
          <mat-slider
            [formControlName]="option.name"
            [min]="option.minValue" [max]="option.maxValue" [step]="option.step"></mat-slider>
        </div>
        <mat-slide-toggle *ngSwitchCase="'boolean'"
          [formControlName]="option.name">
          {{ translate(option.label) }}
        </mat-slide-toggle>
        <div *ngSwitchCase="'select'">
          <mat-form-field>
            <mat-select
              [placeholder]="translate(option.label)"
              [formControlName]="option.name">
              <mat-option *ngFor="let choice of option.choices" [value]="choice.value">
                {{ choice.label }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div *ngSwitchCase="'color'">
          {{ translate(option.label) }}
          <yago-color-picker-input
            viewMode="button" position="right"
            [formControlName]="option.name"></yago-color-picker-input>
        </div>
        <div *ngSwitchDefault>
          <mat-form-field>
            <input matInput
              [formControlName]="option.name"
              [type]="option.type"
              [placeholder]="translate(option.label)">
          </mat-form-field>
        </div>
      </ng-container>
    </ng-template>
  </form>
</ng-template>
