<a (click)="toggleExpanded()" mat-list-item *ngIf="item != null">
  <mat-icon *ngIf="!(expanded|async)">folder</mat-icon>
  <mat-icon *ngIf="expanded|async">folder_open</mat-icon>
  {{ item.theme.name }}
</a>
<ng-template [ngIf]="(item.children)?.length > 0 || (item.layers)?.length > 0">
  <mat-nav-list [@expandedState]="expandedStateString|async">
    <ng-container *ngFor="let subItem of item.children">
      <yago-layers-browser-item *ngIf="isItemVisible(subItem)|async" [item]="subItem">
      </yago-layers-browser-item>
    </ng-container>
    <ng-container
        *ngFor="let layer of item.layers">
      <a [class.highlight]="layerSelected(layer)|async" (click)="toggleLayer(layer)"
          *ngIf="isLayerVisible(layer)|async"
          mat-list-item>
        <yago-layer-icon [layer]="layer"></yago-layer-icon>
        {{ layer.label }}
      </a>
    </ng-container>
  </mat-nav-list>
</ng-template>
