@import '../common/_helpers.scss';

:host {
  display: block;
  min-width: 500px;

  h4, h5 {
    margin: 0.5em;
  }

  h4 > div {
    display: inline-block;
  }

  .preview-headers {
    h5 {
      text-align: center;
    }
  }

  .preview {
    width: 80px;
    height: 80px;
    border-style: solid;
  }
}
