<h3 matDialogTitle i18n>Add geostatistical layer</h3>
<mat-dialog-content>
  <yago-layer-transform #transform></yago-layer-transform>
</mat-dialog-content>
<mat-dialog-actions>
  <button (click)="transform.addLayer()" [disabled]="!(transform.valid|async)" mat-button i18n>Add</button>
  <button (click)="close()" mat-button i18n>Close</button>
</mat-dialog-actions>
