@import '../common/_helpers.scss';

:host {
  mat-icon {
    vertical-align: middle;
    padding-right: 0.5em;
  }

  > mat-nav-list {
    overflow: hidden;
    padding-left: 2em;

    yago-layer-icon {
      margin-right: 0.5em;
    }

    a.highlight {
      color: mat-color($primary, default-contrast);
      background-color: mat-color($primary);
    }
  }
}
