@import '../common/_helpers.scss';

:host {
  @include default-dialog;

  max-width: initial;
  max-height: 450px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  h3 {
    flex: 0 0 auto;
  }

  mat-dialog-content {
    flex: 1 1 auto;
    overflow-y: auto;
  }

  mat-dialog-actions {
    flex: 0 0 auto;
  }
}
