<h3 matDialogTitle i18n>Add layers</h3>
<mat-dialog-content>
  <yago-layers-browser></yago-layers-browser>
</mat-dialog-content>
<mat-dialog-actions>
  <button (click)="addLayers()" [disabled]="!(canAdd|async)" mat-button i18n>Add</button>
  <button (click)="close()" mat-button i18n>Close</button>
</mat-dialog-actions>
