<mat-form-field>
  <input matInput
      [(ngModel)]="filterString"
      i18n-placeholder placeholder="Search">
</mat-form-field>
<mat-nav-list>
  <ng-container *ngFor="let item of layersTree|async">
    <yago-layers-browser-item
        *ngIf="isVisible(item)|async"
        [item]="item">
    </yago-layers-browser-item>
  </ng-container>
</mat-nav-list>
<div class="selected">
  <span i18n>
    { selected|async, plural,
      =0 { No layers selected }
      =1 { One layer selected }
      other { {{ selected|async }} layers selected } }</span>
</div>
