<h3 matDialogTitle i18n>Edit style</h3>
<mat-dialog-content>
  <yago-layer-style-editor></yago-layer-style-editor>
</mat-dialog-content>
<mat-dialog-actions>
  <button (click)="saveStyle()" mat-button i18n>Save</button>
  <button (click)="cancel()" mat-button i18n>Close</button>
</mat-dialog-actions>
