<ng-template [ngIf]="hasPoints|async">
  <h4>
    <ng-container i18n>Point</ng-container>
  </h4>
  <div fxLayout="row" fxLayoutAlign="stretch center">
    <h5 *ngIf="false" fxFlex="50%" i18n>Point type</h5>
    <h5 *ngIf="pointType == 'circle'" fxFlex="50%" i18n>Size</h5>
    <h5 *ngIf="pointType == 'image'" fxFlex="50%" i18n>Image</h5>
  </div>
  <div fxLayout="row" fxLayoutAlign="stretch center">
    <div *ngIf="false" fxFlex="50%">
      <mat-button-toggle-group [(ngModel)]="pointType">
        <mat-button-toggle value="circle">
          <mat-icon fontSet="yago-icons" fontIcon="circle"></mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="image">
          <mat-icon>image</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div fxFlex="50%">
      <mat-slider *ngIf="pointType == 'circle'" step="1" min="0" max="20"
        [(ngModel)]="radius"></mat-slider>
    </div>
  </div>
</ng-template>
<ng-template [ngIf]="(hasLines|async) || (hasPolygons|async) || ((hasPoints|async) && pointType == 'circle')">
  <h4>
    <ng-container i18n>Stroke</ng-container>
    <div><mat-slide-toggle [(ngModel)]="strokeEnabled"></mat-slide-toggle></div>
  </h4>
  <div fxLayout="row" fxLayoutAlign="stretch center">
    <h5 fxFlex="33%" i18n>Color</h5>
    <h5 fxFlex="34%" i18n>Weight</h5>
    <h5 fxFlex="34%" i18n>Opacity</h5>
  </div>
  <div fxLayout="row" fxLayoutAlign="stretch center">
    <div fxFlex="33%">
      <yago-color-picker-input i18n
        viewMode="button" position="right"
        [disabled]="!strokeEnabled" [(ngModel)]="strokeColor">
      </yago-color-picker-input>
    </div>
    <div fxFlex="34%">
      <mat-slider [disabled]="!strokeEnabled" step="0.5" min="0" max="20"
        [(ngModel)]="strokeWeight"></mat-slider>
    </div>
    <div fxFlex="34%">
      <mat-slider step="0.05" min="0" max="1"
        [disabled]="!strokeEnabled" [(ngModel)]="strokeOpacity"></mat-slider>
    </div>
  </div>
  <ng-template [ngIf]="hasLines|async">
    <div fxLayout="row" fxLayoutAlign="stretch center">
      <h5 fxFlex="50%" i18n>Line cap</h5>
      <h5 fxFlex="50%" i18n>Line join</h5>
    </div>
    <div fxLayout="row" fxLayoutAlign="stretch center">
      <div fxFlex="50%">
        <mat-button-toggle-group [disabled]="!strokeEnabled" [(ngModel)]="lineCap">
          <mat-button-toggle value="butt">
            <mat-icon fontSet="yago-icons" fontIcon="linecap-butt"></mat-icon>
          </mat-button-toggle>
          <mat-button-toggle value="round">
            <mat-icon fontSet="yago-icons" fontIcon="linecap-round"></mat-icon>
          </mat-button-toggle>
          <mat-button-toggle value="square">
            <mat-icon fontSet="yago-icons" fontIcon="linecap-square"></mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <div fxFlex="50%">
        <mat-button-toggle-group [disabled]="!strokeEnabled" [(ngModel)]="lineJoin">
          <mat-button-toggle value="bevel">
            <mat-icon fontSet="yago-icons" fontIcon="linejoin-bevel"></mat-icon>
          </mat-button-toggle>
          <mat-button-toggle value="round">
            <mat-icon fontSet="yago-icons" fontIcon="linejoin-round"></mat-icon>
          </mat-button-toggle>
          <mat-button-toggle value="miter">
            <mat-icon fontSet="yago-icons" fontIcon="linejoin-miter"></mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
  </ng-template>
</ng-template>
<ng-template [ngIf]="(hasPolygons|async) || ((hasPoints|async) && pointType == 'circle')">
  <h4>
    <ng-container i18n>Fill</ng-container>
    <div><mat-slide-toggle [(ngModel)]="fillEnabled"></mat-slide-toggle></div>
  </h4>
  <div fxLayout="row" fxLayoutAlign="stretch center">
    <h5 fxFlex="50%" i18n>Color</h5>
    <h5 fxFlex="50%" i18n>Opacity</h5>
  </div>
  <div fxLayout="row" fxLayoutAlign="stretch center">
    <div fxFlex="50%">
      <yago-color-picker-input i18n
        viewMode="button" position="right"
        [disabled]="!fillEnabled" [(ngModel)]="fillColor">
      </yago-color-picker-input>
    </div>
    <div fxFlex="50%">
      <mat-slider step="0.05" min="0" max="1"
        [disabled]="!fillEnabled" [(ngModel)]="fillOpacity"></mat-slider>
    </div>
  </div>
</ng-template>
<h5 i18n>Preview</h5>
<div class="preview-headers" fxLayout="row" fxLayoutAlign="stretch center">
  <h5 *ngIf="hasPoints|async" fxFlex i18n>Point</h5>
  <h5 *ngIf="hasLines|async" fxFlex i18n>Line</h5>
  <h5 *ngIf="hasPolygons|async" fxFlex i18n>Polygon</h5>
</div>
<div fxLayout="row" fxLayoutAlign="space-around">
  <div *ngIf="hasPoints|async" class="point preview"
    [style.opacity]="(strokeEnabled || fillEnabled) ? 1 : 0"
    [style.background-color]="fillEnabled ? previewBackgroundColor : 'transparent'"
    [style.border-width]="previewBorderWidth"
    [style.border-color]="strokeEnabled ? previewBorderColor : 'transparent'"></div>
  <div *ngIf="hasLines|async" class="line preview"
    [style.opacity]="strokeEnabled ? 1 : 0"
    [style.border-width]="previewBorderWidth"
    [style.border-color]="strokeEnabled ? previewBorderColor : 'transparent'"></div>
  <div *ngIf="hasPolygons|async" class="polygon preview"
    [style.opacity]="(strokeEnabled || fillEnabled) ? 1 : 0"
    [style.background-color]="fillEnabled ? previewBackgroundColor : 'transparent'"
    [style.border-width]="previewBorderWidth"
    [style.border-color]="strokeEnabled ? previewBorderColor : 'transparent'"></div>
</div>
