<div class="toolbar-container">
  <div>
    <button  mat-button i18n-matTooltip matTooltip="Toggle view control"
        (click)="showViewControl = !showViewControl"
        [class.toggled]="showViewControl">
      <mat-icon>pageview</mat-icon>
    </button>
    <button (click)="showLayersBrowser()" mat-button
      i18n-matTooltip matTooltip="Add layer"
      [disabled]="layersBrowserDisabled|async">
      <mat-icon>add_location</mat-icon>
    </button>
    <button  mat-button i18n-matTooltip matTooltip="Measure distances and areas"
        (click)="toggleMeasureControl()"
        [class.toggled]="measureControlVisible|async">
      <mat-icon fontSet="yago-icons" fontIcon="ruler"></mat-icon>
    </button>
    <button  mat-button i18n-matTooltip matTooltip="Elevation profile"
        (click)="toggleElevationProfileControl()"
        [class.toggled]="elevationProfileControlVisible|async">
      <mat-icon>terrain</mat-icon>
    </button>
    <button (click)="editLayerStyle()" mat-button
      i18n-matTooltip matTooltip="Edit layer style"
      [disabled]="vectorLayerFunctionsDisabled|async">
      <mat-icon>style</mat-icon>
    </button>
    <ng-template [ngIf]="geostatsTransforms?.length > 0">
      <button mat-button
          [matMenuTriggerFor]="geostatsMenu"
          i18n-matTooltip matTooltip="Geo-statistics"
          [disabled]="vectorLayerFunctionsDisabled|async">
        <mat-icon fontSet="yago-icons" fontIcon="geostats"></mat-icon>
      </button>
      <mat-menu #geostatsMenu="matMenu">
        <button *ngFor="let transform of geostatsTransforms"
            (click)="openTransformDialog(transform)"
            mat-menu-item>
          {{ translate(transform.getName()) }}
        </button>
        <button mat-menu-item i18n
          (click)="openSpatialAnalysis()">Spatial analysis</button>
      </mat-menu>
    </ng-template>
    <button mat-button
        [disabled]="saveImageDisabled|async"
        [matMenuTriggerFor]="saveImageMenu"
        i18n-matTooltip matTooltip="Save map as image">
      <mat-icon>image</mat-icon>
    </button>
    <mat-menu #saveImageMenu="matMenu">
      <button (click)="saveImage('png')" mat-menu-item i18n
          [disabled]="saveImageDisabled|async">PNG</button>
      <button (click)="saveImage('jpeg_high')" mat-menu-item i18n
          [disabled]="saveImageDisabled|async">JPEG High quality</button>
      <button (click)="saveImage('jpeg_medium')" mat-menu-item i18n
          [disabled]="saveImageDisabled|async">JPEG Medium quality</button>
      <button (click)="saveImage('jpeg_low')" mat-menu-item i18n
          [disabled]="saveImageDisabled|async">JPEG Low quality</button>
    </mat-menu>
    <button mat-button (click)="printMap()"
        [disabled]="printDisabled|async"
        i18n-matTooltip matTooltip="Print map">
      <mat-icon>print</mat-icon>
    </button>
    <button mat-button
        [matMenuTriggerFor]="baseLayerMenu"
        i18n-matTooltip matTooltip="Base layer">
      <mat-icon>map</mat-icon>
    </button>
    <mat-menu #baseLayerMenu="matMenu">
      <button (click)="setBaseLayer('none')" mat-menu-item i18n>None</button>
      <button (click)="setBaseLayer('osm')" mat-menu-item i18n>OpenStreetMap</button>
      <button (click)="setBaseLayer('google_roadmap')" mat-menu-item i18n>Google Maps (Road map)</button>
      <button (click)="setBaseLayer('google_satellite')" mat-menu-item i18n>Google Maps (Satellite)</button>
      <button (click)="setBaseLayer('google_terrain')" mat-menu-item i18n>Google Maps (Terrain)</button>
      <button (click)="setBaseLayer('google_hybrid')" mat-menu-item i18n>Google Maps (Hybrid)</button>
      <button (click)="setBaseLayer('bing_road')" mat-menu-item i18n>Bing Maps (Road map)</button>
      <button (click)="setBaseLayer('bing_satellite')" mat-menu-item i18n>Bing Maps (Satellite)</button>
      <button (click)="setBaseLayer('bing_hybrid')" mat-menu-item i18n>Bing Maps (Hybrid)</button>
    </mat-menu>
  </div>
  <div>
    <mat-form-field>
      <input #mapName matInput
          i18n-placeholder placeholder="Map name"
          [value]="editedMapName|async"
          (keyup)="onEditedMapNameChange(mapName.value)">
    </mat-form-field>
    <button (click)="openMapsList()" mat-button
        i18n-matTooltip matTooltip="Load saved map"
        [disabled]="!(loggedIn|async)">
      <mat-icon>folder_open</mat-icon>
    </button>
    <button (click)="saveMap()" mat-button
        i18n-matTooltip matTooltip="Save current map"
        [disabled]="!(loggedIn|async)">
      <mat-icon>save</mat-icon>
    </button>
  </div>
</div>
<div class="map-container">
  <div class="wrapper">
    <yago-map
        [boundingBox]="boundingBox"
        [limits]="limits"
        [showScaleControl]="false"
        showTableControl
        showLegendControl
        [showElevationProfileControl]="elevationProfileControlVisible|async"
        [showMeasureControl]="measureControlVisible|async"
        [showSpatialAnalysisControl]="spatialAnalysisControlVisible|async"
        [hideViewControl]="!showViewControl"></yago-map>
  </div>
</div>
