<h2 matDialogTitle i18n>Delete map</h2>
<mat-dialog-content i18n>Are you sure you want to delete this map?</mat-dialog-content>
<mat-dialog-actions>
  <button [matDialogClose]="true" mat-button i18n>Yes</button>
  <button mat-button matDialogClose i18n>No</button>
</mat-dialog-actions>
