@import '../common/_helpers.scss';

:host {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  flex-direction: column;
  align-items: stretch;

  .toolbar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 16px;

    button.toggled {
      background-color: rgba(0, 0, 0, 0.12);
    }

    > div {
      flex: 0 0 auto;
    }
  }

  .map-container {
    flex: 1 0 auto;
    position: relative;

    .wrapper {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
}
