<mat-progress-bar *ngIf="loading|async" mode="indeterminate"></mat-progress-bar>
<div *ngIf="(maps|async)?.length == 0" i18n>
  No saved maps
</div>
<mat-nav-list *ngIf="(maps|async)?.length > 0">
  <ng-container *ngFor="let map of maps|async">
    <mat-list-item [class.highlight]="(selectedMap|async) == map">
      <a (click)="selectMap(map)">
        {{ map.name }}
      </a>
      <mat-icon (click)="deleteMap(map)">delete</mat-icon>
    </mat-list-item>
  </ng-container>
</mat-nav-list>
