<h3 matDialogTitle>
  <span i18n>Saved maps</span>
  <mat-icon (click)="close()">close</mat-icon>
</h3>
<mat-dialog-content>
  <yago-maps-list></yago-maps-list>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button i18n
      [disabled]="!(selectedMap|async)"
      (click)="loadMap()">Load</button>
  <button mat-button i18n
      (click)="close()">Close</button>
</mat-dialog-actions>
