@import '../common/_helpers.scss';

:host {
  > mat-nav-list {
    a {
      padding: 1em 0;
      flex: 1 1 auto;
    }

    .highlight {
      color: mat-color($primary, default-contrast);
      background-color: mat-color($primary);
    }
  }
}
