<div *ngIf="loading|async as curLoading; else galleryList" class="progress-container">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
<ng-template #galleryList>
  <mat-grid-list [cols]="cols" rowHeight="1:1">
    <mat-grid-tile *ngIf="theme|async as curTheme">
      <yago-gallery-theme parent [parentId]="curTheme.parent"></yago-gallery-theme>
    </mat-grid-tile>
    <ng-template [ngIf]="subThemes|async">
      <mat-grid-tile *ngFor="let theme of (subThemes|async)">
        <yago-gallery-theme [theme]="theme"></yago-gallery-theme>
      </mat-grid-tile>
    </ng-template>
    <ng-template [ngIf]="items|async">
      <mat-grid-tile *ngFor="let item of (items|async)">
        <yago-gallery-item [item]="item"></yago-gallery-item>
      </mat-grid-tile>
    </ng-template>
  </mat-grid-list>
</ng-template>
