:host {
  flex: 1;
  align-self: stretch;
  display: flex;
  align-items: stretch;

  > mat-card {
    flex: 1;
    margin: 10px;

    mat-card-content {
      text-align: center;

      mat-icon {
        width: 80px;
        height: 80px;
        font-size: 80px;
        cursor: pointer;
      }
    }
  }
}
