<mat-card *ngIf="theme">
  <mat-card-header>
    <mat-card-title>{{ theme.name }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-icon (click)="openTheme()">folder</mat-icon>
  </mat-card-content>
</mat-card>
<mat-card *ngIf="parent">
  <mat-card-header>
    <mat-card-title>&nbsp;</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-icon (click)="openParent()">arrow_upward</mat-icon>
  </mat-card-content>
</mat-card>
