<mat-card *ngIf="item">
  <mat-card-header>
    <mat-card-title>{{ item.name }}</mat-card-title>
    <mat-card-subtitle matTooltip="item.description">{{ item.description }}</mat-card-subtitle>
  </mat-card-header>
  <ng-container  [ngSwitch]="item.itemType">
    <div *ngSwitchCase="'image'" mat-card-image>
      <img (click)="preview()" [src]="item.attachment" alt="{{ item.name }}">
    </div>
    <mat-card-content *ngSwitchDefault>
      <a [href]="item.attachment" target="_blank">
        <mat-icon *ngIf="item.itemType == 'document'">file_download</mat-icon>
        <mat-icon *ngIf="item.itemType == 'archive'">archive</mat-icon>
      </a>
    </mat-card-content>
  </ng-container>
</mat-card>
