:host {
  flex: 1;
  align-self: stretch;
  display: flex;
  align-items: stretch;

  > mat-card {
    flex: 1;
    margin: 10px;

    mat-card-subtitle {
      height: 1.2em;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    [mat-card-image] {
      max-height: 80px;
      overflow: hidden;
      cursor: pointer;

      img {
        width: 100%;
      }
    }

    mat-card-content {
      text-align: center;

      a {
        color: inherit;
      }

      mat-icon {
        width: 80px;
        height: 80px;
        font-size: 80px;
      }
    }
  }
}
