<div *ngIf="loading | async" class="progress-container">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
<mat-card *ngIf="!(loading | async)">
  <mat-card-title *ngIf="(theme|async)">
    <ng-container i18n>Edit theme </ng-container>:
    <b>{{ (theme|async)?.name }}</b>
  </mat-card-title>
  <mat-card-title *ngIf="!(theme|async)" i18n>
    New theme
  </mat-card-title>
  <mat-card-content>
    <form [formGroup]="themeForm" novalidate>
      <div>
        <mat-form-field
            [dividerColor]="!themeForm.get('name').pristine && themeForm.get('name').invalid ? 'accent' : null">
          <input matInput i18n-placeholder placeholder="Name"
              formControlName="name"
              [value]="(theme|async)?.name">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-select i18n-placeholder placeholder="Parent"
              formControlName="parent">
            <mat-option *ngFor="let theme of themes|async" [value]="theme.id">{{ theme.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="saveTheme()" mat-raised-button
        [disabled]="themeForm.pristine || !themeForm.valid" color="primary" i18n>
      Save
    </button>
    <button [routerLink]="['../']" mat-raised-button color="accent" i18n>
      Cancel
    </button>
  </mat-card-actions>
</mat-card>
