.yago-content .mat-toolbar.mat-primary img {
  height: 52px;
  margin: 0 1em;
}

.content {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0px;
  top: 0px;
  left: 0px;
}
.main-title {
  position: absolute;
  width: 100%;
  height: 50px;
  top: 30%;
}

h1 {
  text-align: center;
}

.header-images {
  position: absolute;
  width: 100%;
  top: 10%;
  text-align:center;
}

.footer-images {
  position: absolute;
  width: 100%;
  top: 70%;
  text-align:center;
}

.image {
  display:inline-block;
}
.image-title {
  display:inline-block;
  width: 100px;
  margin-left: 20px;
  border-style: solid;
}

