<div class="content">
    <div class="header-images">
      <img class="image" src="./assets/imgs/echo.png">
      <img class="image" src="./assets/imgs/coopi.png">
    </div>
    <div class="main-title">
      <h1>SYST&Eacute;ME D'INFORMATION</h1>
      <h1>SUR LES RESSOURCES ET LEURS VULN&Eacute;RABILIT&Eacute;S</h1>
      <h1>POUR LA PR&Eacute;PARATION ET LA R&Eacute;PONSE A LA S&Eacute;CHERESSE</h1>
    </div>
    <div class="footer-images">
      <img class="image" src="./assets/imgs/pc.png">
      <h3 class="image-title">communes de <br>Thiotte et <br>d'Ande-&agrave;-Pitres</h3>
      <img class="image" src="./assets/imgs/alleanza_dernier.png">
      <img class="image" src="./assets/imgs/cnigs-trans.png">
      </div>
  </div>
