<mat-dialog-content>
  <ng-container *ngIf="layer">
    <mat-form-field>
      <input matInput [(ngModel)]="layerLabel"
          i18n-placeholder placeholder="Label">
    </mat-form-field>
  </ng-container>
</mat-dialog-content>
<mat-dialog-actions>
  <button (click)="close(true)" mat-button i18n>Save</button>
  <button (click)="close()" mat-button i18n>Cancel</button>
</mat-dialog-actions>
