:host {
  display: block;
  width: 300px;
  font-size:  0.8em;
  white-space: nowrap;

  .clearfix:after {
    content: "";
    clear: both;
    display: table;
  }

  .col-left {
    float: left;
    width: 65%;
  }

  .col-right {
    float: left;
    width: 35%;
  }

  .label {
    font-weight: bold;
  }
}
