<mat-dialog-content>
  <div *ngFor="let prop of properties|async" class="clearfix">
    <div class="col-left label">{{ prop.label }}</div>
    <div class="col-right">{{ prop.value }}</div>
  </div>
</mat-dialog-content>
