<div class="top-tb">
  <button mat-mini-fab (click)="showLayersPanel = !showLayersPanel"
      [class.checked]="showLayersPanel"
      i18n-matTooltip matTooltip="Layers" matTooltipPosition="above">
      <mat-icon>layers</mat-icon>
  </button>
</div>
<mat-card *ngIf="showLayersPanel">
  <mat-list *ngIf="layers?.length > 0"
      dnd-sortable-container [sortableData]="layers">
    <mat-list-item
        *ngFor="let layer of layers; let idx = index"
        dnd-sortable [sortableIndex]="idx"
        (onDropSuccess)="onLayerReorder()"
        [class.selected]="(selectedLayer|async)?.uniqueId === layer.uniqueId">
      <a (click)="selectLayer(layer)" (dblclick)="changeLayerLabel(layer)" class="label-lnk">
        <yago-layer-icon [layer]="layer"></yago-layer-icon>
        <span class="label">{{ layer.label }}</span>
      </a>
      <mat-icon *ngIf="layer.visible"
          i18n-matTooltip matTooltip="Hide"
          (click)="toggleLayerVisibility(layer)">visibility</mat-icon>
      <mat-icon *ngIf="!layer.visible"
          i18n-matTooltip matTooltip="Show"
          (click)="toggleLayerVisibility(layer)">visibility_off</mat-icon>
      <a *ngIf="layer.metadata" [href]="layer.metadata" target="_blank">
        <mat-icon i18n-matTooltip matTooltip="Metadata">attachment</mat-icon>
      </a>
      <mat-icon i18n-matTooltip matTooltip="Metadata"
          class="disabled" *ngIf="!layer.metadata">attachment</mat-icon>
      <mat-icon (click)="removeLayer(layer)"
          i18n-matTooltip matTooltip="Remove">
        remove_circle
      </mat-icon>
    </mat-list-item>
  </mat-list>
  <div *ngIf="!(layers) || layers?.length == 0" i18n>
    No layers
  </div>
</mat-card>
