@import '../../common/_helpers.scss';


:host {
  .top-tb {
    position: absolute;
    top: 1em;
    right: 1em;
    text-align: right;
    z-index: 1000;

    .mat-button-toggle-checked {
      background-color: transparent;
    }

    .checked {
      color: darken(mat-color($primary, default-contrast), 80%);
    }
  }

  > mat-card {
    position: absolute;
    top: 4em;
    right: 0.5em;
    bottom: 50%;
    margin-bottom: 1em;
    z-index: 1000;
    max-width: 20%;
    overflow-y: auto;
    padding: 0.5em;

    > mat-list > mat-list-item {
      a {
        cursor: pointer;
        color: inherit;

        &.label-lnk {
          display: flex;
          align-items: center;
          flex: 1 1 auto;

          yago-layer-icon {
            flex: 0 0 auto;
          }

          span {
            flex: 1 1 auto;
            font-size: 0.8em;
          }
        }
      }

      &.selected {
        color: mat-color($primary, default-contrast);
        background-color: mat-color($primary);
      }
      yago-layer-icon {
        margin-right: 0.5em;
      }

      .label {
        flex: 1 0 auto;
        padding-right: 1em;
      }

      mat-icon {
        cursor: pointer;
        margin-left: 0.3em;

        &.disabled {
          opacity: 0.5;
        }
      }
    }
  }
}
