<ng-template [ngIf]="layer && layer.layerType == 'VECTOR'">
  <div class="entry" *ngFor="let style of styles">
    <div class="symbol-container">
      <div class="symbol" [ngClass]="featuresType"
          [style.width]="style.size + 'em'"
          [style.height]="style.size + 'em'"
          [style.background-color]="style.backgroundColor"
          [style.border-color]="style.borderColor"
          [style.border-width]="style.borderVisible ? '2px' : '0'"></div>
    </div>
    <div class="lbl">{{ layer.label }} <ng-container *ngIf="style.label">{{ style.label }}</ng-container></div>
  </div>
</ng-template>
