@import '../../common/_helpers.scss';


:host {
  .top-tb {
    position: absolute;
    bottom: 1.5em;
    right: 1em;
    text-align: right;
    z-index: 1002;

    &.open {
      top: 50%;
      margin-top: 1em;
      bottom: auto;
    }

    .mat-button-toggle-checked {
      background-color: transparent;
    }

    .checked {
      color: darken(mat-color($primary, default-contrast), 80%);
    }
  }

  > mat-card {
    position: absolute;
    top: 50%;
    right: 0.5em;
    bottom: 1.5em;
    margin-top: 4em;
    z-index: 1002;
    max-width: 20%;
    overflow-y: auto;

    yago-map-legend-icon {
      margin: 0.5em 0;
      font-size: 0.8em;
    }
  }
}
