:host {
  div.entry {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.5em;

    div.symbol-container {
      flex: 0 0 auto;
      margin-right: 0.75em;
      width: 1em;
      height: 1em;
      line-height: 1em;
      vertical-align: middle;
      text-align: center;

      div.symbol {
        display: inline-block;
        border: solid 2px transparent;

        &.point, &.multipoint {
          border-radius: 1em;
        }
      }
    }

    div.lbl {
      flex: 1 1 auto;
    }
  }
}
