<div class="top-tb" [class.open]="(showLegendPanel|async) || (tablePanelVisible|async)">
  <button mat-mini-fab (click)="toggleLegendPanel()"
      [class.checked]="showLegendPanel|async"
      i18n-matTooltip matTooltip="Legend" matTooltipPosition="above">
      <mat-icon>toc</mat-icon>
  </button>
</div>
<mat-card *ngIf="showLegendPanel|async">
  <div #panel>
    <div *ngIf="(layers|async)?.length > 0">
      <yago-map-legend-icon *ngFor="let layer of (layers|async)" [layer]="layer"></yago-map-legend-icon>
    </div>
    <div *ngIf="!(layers|async) || (layers|async)?.length == 0" i18n>
      No layers
    </div>
  </div>
</mat-card>
