<mat-card>
  <button mat-mini-fab [disabled]="points.length == 0" (click)="reset()">
    <mat-icon>delete</mat-icon>
  </button>
  <mat-grid-list cols="2" rowHeight="1.5em">
    <mat-grid-tile>
      <mat-form-field>
        <mat-select [(ngModel)]="distanceUnits"
            i18n-placeholder placeholder="Distance units">
          <mat-option i18n value="degrees">Degrees</mat-option>
          <mat-option i18n value="radians">Radians</mat-option>
          <mat-option i18n value="feet">Feet</mat-option>
          <mat-option i18n value="miles">Miles</mat-option>
          <mat-option i18n value="meters">Meters</mat-option>
          <mat-option i18n value="kilometers">Kilometers</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field>
        <mat-select [(ngModel)]="areaUnits"
              i18n-placeholder placeholder="Area units">
            <mat-option i18n value="meters">Meters²</mat-option>
            <mat-option i18n value="kilometers">Kilometers²</mat-option>
            <mat-option i18n value="feet">Feet²</mat-option>
            <mat-option i18n value="miles">Miles²</mat-option>
            <mat-option i18n value="acres">Acres</mat-option>
            <mat-option i18n value="hectares">Hectares</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <div i18n>Latitude</div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div *ngIf="lat">
        {{ lat|number:'1.0-4' }}
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div i18n>Longitude</div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div *ngIf="lng">
        {{ lng|number:'1.0-4' }}
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div i18n>Distance</div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div *ngIf="distance">
        {{ distance|number:'1.0-4' }}
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div i18n>Area</div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div *ngIf="area">
        {{ area|number:'1.0-4' }}
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
