:host {
  position: absolute;
  top: 1em;
  left: 0;
  right: 0;
  height: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  overflow: visible;
  z-index: 1000;

  [mat-mini-fab] {
    position: absolute;
    top: -0.5em;
    right: -0.5em;
  }

  mat-card {
    width: 280px;
    display: inline-block;

    mat-grid-list {
      text-align: left;

      mat-grid-tile {
        div {
          flex: 1 1 auto;
          overflow: hidden;
        }
      }
    }
  }
}
