<mat-card>
  <mat-icon (click)="closeMe()" class="close">close</mat-icon>
  <div class="toolbar">
    <ng-container *ngIf="!selectionDraw && !partitionByLayer">
      <button mat-button i18n-matTooltip matTooltip="Select by drawing a polygon"
          (click)="startDrawPolygon()">
        <mat-icon fontSet="yago-icons" fontIcon="draw-feature"></mat-icon>
      </button>
      <button mat-button i18n-matTooltip matTooltip="Select by layer features"
          (click)="startFeatureSelection()">
        <mat-icon fontSet="yago-icons" fontIcon="select-feature"></mat-icon>
      </button>
    </ng-container>
    <ng-container *ngIf="selectionDraw">
      <button class="toggled" mat-button i18n-matTooltip matTooltip="Stop drawing a polygon"
          (click)="stopDrawPolygon()">
        <mat-icon fontSet="yago-icons" fontIcon="draw-feature"></mat-icon>
      </button>
    </ng-container>
    <ng-container *ngIf="partitionByLayer">
      <button class="toggled" mat-button i18n-matTooltip matTooltip="Stop selecting by layer features"
          (click)="stopFeatureSelection()">
        <mat-icon fontSet="yago-icons" fontIcon="select-feature"></mat-icon>
      </button>
      <mat-form-field>
        <mat-select [(ngModel)]="partitionLayer"
            i18n-placeholder placeholder="Layer">
          <mat-option *ngFor="let layer of layers|async" [value]="layer">
            {{ layer.label || layer.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select [(ngModel)]="partitionLabel"
            i18n-placeholder placeholder="Label">
          <mat-option *ngFor="let label of partitionLabels" [value]="label">
            {{ label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </ng-container>
  </div>
  <div class="toolbar">
    <mat-button-toggle-group [(ngModel)]="chartType">
      <mat-button-toggle i18n-matTooltip matTooltip="Pie chart" value="pie">
        <mat-icon>pie_chart</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle i18n-matTooltip matTooltip="Bar chart" value="bar">
        <mat-icon>insert_chart</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
    <mat-button-toggle-group [(ngModel)]="mode">
      <mat-button-toggle i18n-matTooltip matTooltip="Centroid" value="centroid">
        <mat-icon fontSet="yago-icons" fontIcon="select-centroid"></mat-icon>
      </mat-button-toggle>
      <mat-button-toggle i18n-matTooltip matTooltip="Whole" value="whole">
        <mat-icon>select_all</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
    <button mat-button i18n-matTooltip matTooltip="Download spreadsheet"
        [disabled]="!canDownload"
        (click)="downloadSpreadsheet()">
      <mat-icon>file_download</mat-icon>
    </button>
  </div>
  <div>
    <mat-form-field>
      <mat-select [(ngModel)]="indicator"
          i18n-placeholder placeholder="Indicator">
        <mat-option *ngFor="let indicator of indicators|async" [value]="indicator">
          {{ indicator }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <canvas #analysisChart width="300" height="200"></canvas>
</mat-card>
