:host {
  display: block;
  position: absolute;
  z-index: 1005;
  bottom: 4em;
  left: 4em;

  .close {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    cursor: pointer;
  }

  .toolbar {
    padding: 0.3em 0;
    .mat-button {
      min-width: 44px;
    }
  }

  .select-container {
    padding: 1.5em 0;
  }

  mat-card {
    canvas {
      width: 300px;
      height: 200px;
    }
  }

  button.toggled {
    background-color: rgba(0, 0, 0, 0.12);
  }
}
