@import '../../common/_helpers.scss';


:host {
  font-size: 0.8em;

  &.open {
    height: 50%;
  }

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1001;
  display: flex;
  flex-direction: column;

  .ttb {
    flex: 0 0 auto;
    padding: 1em;

    .mat-button-toggle-checked {
      background-color: transparent;
    }

    .checked {
      color: darken(mat-color($primary, default-contrast), 80%);
    }
  }

  mat-card {
    padding: 1em;
    flex: 1 1 auto;
    overflow-y: auto;
    display: flex;

    .header {
      display: flex;

      h4 {
        flex: 1 0 auto;
      }

      [mat-button] {
        padding: 0;
        margin-left: 0.5em;
      }
    }

    .filters {
      flex: 1 1 33%;
      overflow-y: auto;

      .condition-row {
        display: flex;
        padding: 16px 0;
        align-items: baseline;

        mat-select {
          flex: 1 1 25%;
          margin-right: 0.5em;
        }

        mat-form-field {
          flex: 1 1 75%;
          margin-right: 0.5em;
        }

        mat-icon {
          flex: 0 0 auto;
          margin-right: 0.5em;
          cursor: pointer;
        }
      }
    }

    ngx-datatable {
      flex: 1 1 67%;
    }
  }
}
