<div class="ttb">
  <button mat-mini-fab (click)="toggleTable()"
      [class.checked]="showTable|async"
      i18n-matTooltip matTooltip="Table" matTooltipPosition="above">
      <mat-icon>grid_on</mat-icon>
  </button>
</div>
<mat-card *ngIf="showTable|async">
  <ng-container *ngIf="isValidLayerSelected|async; else noLayer">
    <div class="filters">
      <div class="header">
        <h4 i18n>Filter by attributes</h4>
        <button mat-button (click)="applyFilter()"
            i18n-matTooltip matTooltip="Apply filter"
            [disabled]="filter.conditions.length == 0">
          <mat-icon>filter_list</mat-icon>
        </button>
        <button mat-button (click)="removeFilter()"
            i18n-matTooltip matTooltip="Remove filter">
          <mat-icon>remove_circle</mat-icon>
        </button>
        <button mat-button (click)="createFilteredLayer()"
            i18n-matTooltip matTooltip="Create new filtered layer"
            [disabled]="(!(filteredFeatures|async)) || (filteredFeatures|async)?.length == 0">
          <mat-icon>multiline_chart</mat-icon>
        </button>
      </div>
      <mat-select [(ngModel)]="filter.operator"
          i18n-placeholder placeholder="Conditions">
        <mat-option value="and" i18n>Every</mat-option>
        <mat-option value="or" i18n>At least one</mat-option>
        <mat-option value="not" i18n>None</mat-option>
      </mat-select>
      <button mat-button (click)="addFilterCondition()">
        <mat-icon>add_circle</mat-icon>
      </button>
      <div class="condition-row" *ngFor="let condition of filter.conditions; let idx = index">
        <mat-form-field>
          <mat-select [(ngModel)]="condition.field"
              i18n-placeholder placeholder="Attribute">
            <mat-option *ngFor="let column of orderedColumns|async" [value]="column.prop">{{ column.name }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select [(ngModel)]="condition.operator"
              i18n-placeholder placeholder="Operator">
            <mat-option value="equal" i18n>=</mat-option>
            <mat-option value="not_equal" i18n>≠</mat-option>
            <mat-option value="less" i18n>&lt;</mat-option>
            <mat-option value="greater" i18n>&gt;</mat-option>
            <mat-option value="less_equal" i18n>≤</mat-option>
            <mat-option value="greater_equal" i18n>≥</mat-option>
            <mat-option value="contains" i18n>Contains</mat-option>
            <mat-option value="between" i18n>Between</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input type="text" matInput
              i18n-placeholder placeholder="Value"
              [(ngModel)]="condition.params[0]"
              [matAutocomplete]="param0Autocomplete">
        </mat-form-field>
        <mat-autocomplete #param0Autocomplete>
          <mat-option *ngFor="let option of getFieldOptions(condition.field)|async"
              [value]="option">{{ option }}</mat-option>
        </mat-autocomplete>
        <ng-container *ngIf="condition.operator == 'between'">
          <mat-form-field>
            <input type="text" matInput
                i18n-placeholder placeholder="Value"
                [(ngModel)]="condition.params[1]"
                [matAutocomplete]="param1Autocomplete">
          </mat-form-field>
          <mat-autocomplete #param1Autocomplete>
            <mat-option *ngFor="let option of (getFieldOptions(condition.field)|async)"
                [value]="option">{{ option }}</mat-option>
          </mat-autocomplete>
        </ng-container>
        <mat-icon (click)="removeFilterCondition(idx)">remove_circle</mat-icon>
      </div>
    </div>
    <ngx-datatable [columns]="columns|async" [rows]="filteredData|async"
        class="material"
        selectionType="single"
        [selected]="selectedFeatures|async"
        [scrollbarV]="true" [scrollbarH]="true"
        (activate)="onTableClick($event)"></ngx-datatable>
  </ng-container>
  <ng-template #noLayer>
    <ng-container i18n>
      Select a layer...
    </ng-container>
  </ng-template>
</mat-card>
