<div>
  <button (click)="panUp()" mat-mini-fab i18n-matTooltip matTooltip="Move up">
    <mat-icon>expand_less</mat-icon>
  </button>
</div>
<div>
  <button (click)="panLeft()" mat-mini-fab i18n-matTooltip matTooltip="Move left">
    <mat-icon>chevron_left</mat-icon>
  </button>
  <button mat-mini-fab>
    <mat-icon>zoom_out_map</mat-icon>
  </button>
  <button (click)="panRight()" mat-mini-fab i18n-matTooltip matTooltip="Move right">
    <mat-icon>chevron_right</mat-icon>
  </button>
</div>
<div>
  <button (click)="panDown()" mat-mini-fab i18n-matTooltip matTooltip="Move down">
    <mat-icon>expand_more</mat-icon>
  </button>
</div>
<div>
  <button (click)="zoomOut()" [disabled]="!(canZoomOut|async)" mat-mini-fab
       i18n-matTooltip matTooltip="Zoom out">
    <mat-icon>zoom_out</mat-icon>
  </button>
  <button (click)="zoomIn()" [disabled]="!(canZoomIn|async)" mat-mini-fab
       i18n-matTooltip matTooltip="Zoom in">
    <mat-icon>zoom_in</mat-icon>
  </button>
</div>
<div>
  <button (click)="back()" [disabled]="!(canViewGoBack|async)" mat-mini-fab
       i18n-matTooltip matTooltip="Previous view">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <button (click)="forward()" [disabled]="!(canViewGoForward|async)" mat-mini-fab
       i18n-matTooltip matTooltip="Next view">
    <mat-icon>arrow_forward</mat-icon>
  </button>
</div>
