<mat-dialog-content>
  <div i18n>Are you sure you want to delete this theme?</div>
  <div i18n>All of its sub-themes and items will be deleted!</div>
</mat-dialog-content>
<mat-dialog-actions>
  <button (click)="dialogRef.close(true)" mat-button i18n>Yes</button>
  <button mat-button matDialogClose i18n>No</button>
</mat-dialog-actions>
