<div *ngIf="loading | async" class="progress-container">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
<ng-template [ngIf]="!(loading | async)">
  <button [routerLink]="['new']" mat-fab>
    <mat-icon i18n-matTooltip matTooltip="New">add</mat-icon>
  </button>
  <mat-card i18n *ngIf="(themes | async)?.length == 0">
    No theme found
  </mat-card>
  <mat-list *ngIf="(themes | async)?.length > 0">
    <mat-list-item *ngFor="let theme of themes | async">
      <div fxFlex fxLayout="row" fxLayoutAlign="start center">
        <div fxFlex="50%">
          {{ theme.name }}
        </div>
        <div fxFlex="50%">
          <ng-container 18n>Parent: </ng-container>
          <ng-container *ngIf="!theme.parent" i18n>(Root)</ng-container>
          <ng-container *ngIf="theme.parent">{{ theme.parentName }}</ng-container>
        </div>
        <div class="actions">
          <button [routerLink]="[theme.id]" mat-mini-fab i18n-matTooltip matTooltip="Edit">
            <mat-icon>mode_edit</mat-icon>
          </button>
          <button (click)="delete(theme)"
              mat-mini-fab color="warn" i18n-matTooltip matTooltip="Delete">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </mat-list-item>
  </mat-list>
</ng-template>
