@import '../common/_helpers.scss';

:host {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  mat-toolbar {
    flex: 0 1 auto;

    [mat-button].active {
      color: mat-color($primary);
      background-color: mat-color($primary, default-contrast);
    }
  }

  .admin-content {
    flex: 1 1 auto;
    padding: $mainContainerPadding;
    display: flex;
  }
}
