<mat-toolbar color="primary">
  <button routerLink="themes" routerLinkActive="active" mat-button i18n>
    Themes
  </button>
  <button routerLink="layers" routerLinkActive="active" mat-button i18n>
    Layers
  </button>
  <button routerLink="arcgis-sources" routerLinkActive="active" mat-button i18n>
    ArcGIS Sources
  </button>
  <button routerLink="wms-sources" routerLinkActive="active" mat-button i18n>
    WMS Sources
  </button>
  <button routerLink="import-shapefile" routerLinkActive="active" mat-button i18n>
    Import shapefile
  </button>
  <button routerLink="gallery-themes" routerLinkActive="active" mat-button i18n>
    Gallery Themes
  </button>
  <button routerLink="gallery-items" routerLinkActive="active" mat-button i18n>
    Gallery Items
  </button>
  <button routerLink="users" routerLinkActive="active" mat-button i18n>
    Users
  </button>
</mat-toolbar>
<div class="admin-content">
  <router-outlet></router-outlet>
</div>
