/* You can add global styles to this file, and also import other style files */
@import '~material-design-icons/iconfont/material-icons.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~leaflet/dist/leaflet.css';
@import '~@swimlane/ngx-datatable/release/components/datatable.component.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
@import 'assets/fonts/yago.css';


body {
  margin: 0;
  padding: 0;
}
