@import '~@angular/material/theming';

$primary: mat-palette($mat-indigo);
$accent:  mat-palette($mat-pink, A200, A100, A400);
$yago-theme: mat-light-theme($primary, $accent);

$mainContainerPadding: 20px 20px 0;
$defaultFormRowMargin: 10px 0;

@mixin progress-container {
  div.progress-container {
    padding: 2em;
    text-align: center;

    mat-progress-spinner {
      margin: 0 auto;
    }
  }
}

@mixin admin-home() {
  display: flex;
  flex: 1 0 auto;
}

@mixin admin-list() {
  button[mat-fab] {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;
  }

  mat-list {
    flex: 1 1 auto;
    overflow-y: auto;
    margin-left: 20px;
    margin-right: 20px;

    padding-bottom: 50px;

    mat-list-item {
      margin: 10px 0;
      border: solid 1px darken(mat-color($primary, default-contrast), 20%);
      border-left: solid 3px mat-color($primary);

      mat-icon {
        vertical-align: middle;
      }

      .actions {
        white-space: nowrap;
      }
    }
  }
}

@mixin admin-form() {
  mat-card {
    flex: 1 1 auto;
    overflow-y: auto;

    form {
      > div {
        margin: 0.5em 0;
        display: flex;
        align-items: stretch;

        > * {
          flex: 1 1 auto;
        }
      }
    }
  }
}

@mixin default-dialog {
  display: block;
  min-width: 256px;
  max-width: 400px;

  .mat-dialog-title {
    display: flex;
    flex-direction: row;
    align-items: center;

    span {
      flex: 1 0 auto;
    }

    mat-icon {
      cursor: pointer;
      flex: 0 0 auto;
    }
  }
}
