@import './_helpers.scss';

yago-map {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;

  > div {
    width: 100%;
    height: 100%;

    &.measurement {
      cursor: crosshair;
    }
  }

  yago-map-view-control {
    position: absolute;
    top: 1em;
    left: 1em;
    z-index: 1001;
  }

  yago-map-layers-control {
    z-index: 1001;
  }

  .leaflet-bottom.leaflet-left .leaflet-control-scale {
    margin-bottom: 2em;
    margin-left: 6em;
  }

  .north_arrow {
    margin-right: 6em !important;
    margin-top: 2em !important;

    i::before {
      font-size: 3em;
    }
  }
}

@media screen {
  .yago-map-print-container {
    display:  none;
  }
}

@media print {
  body * {
    display: none;
  }

  .yago-map-print-container, .yago-map-print-container * {
    display: inline;
  }

  .yago-map-print-container {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    > div {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }

    .leaflet-control-attribution {
      display: none;
      position: absolute;
    }

    .leaflet-control-container {
      display: block;

      .leaflet-left {
        top: 0;

        .leaflet-control-scale {
          display: block;
          position: absolute;
          top: 20px;
          left: 20px;

          .leaflet-control-scale-line {
            display: block;
          }
        }
      }
    }
  }

}
