<yago-map-view-control *ngIf="!hideViewControl"></yago-map-view-control>
<yago-map-layers-control *ngIf="showLayersControl"></yago-map-layers-control>
<yago-map-legend-control *ngIf="showLegendControl"></yago-map-legend-control>
<yago-map-table-control *ngIf="showTableControl"></yago-map-table-control>
<yago-map-measure-control *ngIf="showMeasureControl" [map]="lMap"></yago-map-measure-control>
<yago-map-scale-control *ngIf="showScaleControl"></yago-map-scale-control>
<yago-map-elevation-profile-control *ngIf="showElevationProfileControl" [map]="lMap"></yago-map-elevation-profile-control>
<yago-map-spatial-analysis-control *ngIf="showSpatialAnalysisControl" [map]="lMap"></yago-map-spatial-analysis-control>
<div #mapContainer
    [class.measurement]="showTableControl"></div>
<a #downloadImageLink [download]=""></a>
