<h3 matDialogTitle [ngSwitch]="loginPanel|async">
  <span *ngSwitchCase="'login'" i18n>Login</span>
  <span *ngSwitchCase="'register'" i18n>Register</span>
  <span *ngSwitchCase="'recover_password'" i18n>Recover password</span>
  <mat-icon (click)="close()">close</mat-icon>
</h3>
<mat-dialog-content>
  <yago-login></yago-login>
</mat-dialog-content>
