@import '../common/_helpers.scss';

:host {
  display: flex;
  align-items: center;
  justify-content: center;

  mat-card {
    box-shadow: none;
  }

  form {
    text-align: center;

    div {
      margin: $defaultFormRowMargin;
    }
  }

  .actions {
    text-align: center;

    recaptcha {
      display: inline-block;
      min-height: 144px;
    }

    a {
      display: block;
      font-size: 0.8em;
      padding: 0.8em;
      cursor: pointer;
    }
  }
}
