<h3 i18n>Reset your password</h3>
<form (ngSubmit)="resetPassword()" [formGroup]="resetPasswordForm" novalidate>
  <div>
    <mat-form-field
      [dividerColor]="!resetPasswordForm.get('new_password1')?.pristine && resetPasswordForm.get('new_password1')?.invalid ? 'accent' : null">
      <input matInput i18n-placeholder placeholder="Password"
          type="password"
          formControlName="new_password1">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field
      [dividerColor]="!resetPasswordForm.get('new_password2')?.pristine && resetPasswordForm.get('new_password2')?.invalid ? 'accent' : null">
      <input matInput i18n-placeholder placeholder="Password confirm"
          type="password"
          formControlName="new_password2">
      <mat-hint *ngIf="resetPasswordForm.errors?.password_match" i18n>
        Passwords do not match
      </mat-hint>
    </mat-form-field>
  </div>
  <div class="actions">
    <button [disabled]="uid == null || token == null || !resetPasswordForm.valid || (loading|async)"
        type="submit" color="primary" mat-raised-button i18n>
      Reset password
    </button>
  </div>
</form>
