<mat-card [ngSwitch]="loginPanel|async">
  <mat-progress-bar *ngIf="loading|async" mode="indeterminate"></mat-progress-bar>
  <ng-container *ngSwitchCase="'login'">
    <form (ngSubmit)="login()" [formGroup]="loginForm" novalidate>
      <div>
        <mat-form-field
          [dividerColor]="!loginForm.get('username').pristine && loginForm.get('username').invalid ? 'accent' : null">
          <input matInput i18n-placeholder placeholder="Username"
              formControlName="username">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field
          [dividerColor]="!loginForm.get('password').pristine && loginForm.get('password').invalid ? 'accent' : null">
          <input matInput i18n-placeholder placeholder="Password"
            type="password"
            formControlName="password">
        </mat-form-field>
      </div>
      <div class="actions">
        <button [disabled]="!loginForm.valid || (loading|async)"
            type="submit" color="primary" mat-raised-button i18n>
          Sign in
        </button>
        <div>
          <a (click)="showRegistration()" i18n>
            Don't have an account yet?
          </a>
          <a (click)="showPasswordRecovery()" i18n>
            Forgot your password?
          </a>
        </div>
      </div>
    </form>
  </ng-container>
  <ng-container *ngSwitchCase="'register'">
    <form (ngSubmit)="register()" [formGroup]="registrationForm" novalidate>
      <div>
        <mat-form-field
          [dividerColor]="!registrationForm.get('username').pristine && registrationForm.get('username').invalid ? 'accent' : null">
          <input matInput i18n-placeholder placeholder="Username"
              formControlName="username">
          <mat-hint *ngIf="registrationForm.get('username').errors?.username_not_unique" i18n>
            Username already in use
          </mat-hint>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field
          [dividerColor]="!registrationForm.get('email').pristine && registrationForm.get('email').invalid ? 'accent' : null">
          <input matInput i18n-placeholder placeholder="Email"
              type="email"
              formControlName="email">
          <mat-hint *ngIf="registrationForm.get('email').errors?.email_not_unique" i18n>
            Email address already in use
          </mat-hint>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field
          [dividerColor]="!registrationForm.get('password').pristine && registrationForm.get('password').invalid ? 'accent' : null">
          <input matInput i18n-placeholder placeholder="Password"
              type="password"
              formControlName="password">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field
          [dividerColor]="!registrationForm.get('confirmPassword').pristine && registrationForm.get('confirmPassword').invalid ? 'accent' : null">
          <input matInput i18n-placeholder placeholder="Password confirm"
              type="password"
              formControlName="confirmPassword">
          <mat-hint *ngIf="registrationForm.errors?.password_match" i18n>
            Passwords do not match
          </mat-hint>
        </mat-form-field>
      </div>
      <div class="actions">
        <re-captcha
          formControlName="recaptcha"
          siteKey="{{ recaptchaSiteKey }}"
          size="compact"></re-captcha>
      </div>
      <div class="actions">
        <button [disabled]="!registrationForm.valid || (loading|async)"
            type="submit" color="primary" mat-raised-button i18n>
          Register
        </button>
      </div>
    </form>
  </ng-container>
  <ng-container *ngSwitchCase="'recover_password'">
    <form (ngSubmit)="recoverPassword()" [formGroup]="recoverPasswordForm" novalidate>
      <div>
        <mat-form-field
          [dividerColor]="!recoverPasswordForm.get('email').pristine && recoverPasswordForm.get('email').invalid ? 'accent' : null">
          <input matInput i18n-placeholder placeholder="Email"
              type="email"
              formControlName="email">
        </mat-form-field>
      </div>
      <div class="actions">
        <button [disabled]="!recoverPasswordForm.valid || (loading|async)"
            type="submit" color="primary" mat-raised-button i18n>
          Recover password
        </button>
      </div>
      <div *ngIf="recoverPasswordMailSent|async" i18n>
        An email with instructions on how to reset your password has been sent.
      </div>
    </form>
  </ng-container>
</mat-card>
